@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');

body {
  margin: 0;
  font-family: 'Righteous';
  min-height: 100vh;
  height: 100vh;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

.page {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
}

#start {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* Originally in .page ^ (might want to add back later) */

  padding: 50px;
  text-align: center;
  background-image: url('./components/photos/startScreen.png');
  color: white;
  z-index: 2;
}

#band {
  height: 202.5px;
  width: 300px;
}

.title {
  font-size: 50pt;
  color: white;
}

#subtitle {
  font-size: 35pt;
  padding-top: 0px;
}

#forKids {
  text-shadow: -1px -1px 0 #FFFFFF, 1px -1px 0 #FFFFFF, -1px 1px 0 #FFFFFF, 1px 1px 0 #FFFFFF;
}

.btn {
  color: #fff;
  border: none;
  cursor: pointer;
  font-family: inherit;
}

.modeOptions{
  background: rgba(255, 236, 188, 0.7);
  padding: 20px 40px;
  margin-top: 20px;
  border-radius: 60px;
  box-shadow: 5px 5px 5px 2px rgba(163, 163, 163, 0.6);
  font-size: 50px;
}

.choices {
  background-image: url('./components/photos/chooseASong.png');
  background-color: white;
}

#songChoiceHeader {
  display: flex;
  vertical-align: top;
  
}

#songChoiceTitle {
  position:absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menuBackBtn {
  background: #FCB811;
  padding: 10px 10px;
  margin: 30px;
  border-radius: 20px;
  box-shadow: inset 3px 3px 3px 2px #d39a0b;
  font-size: 20pt;
  
  display: flex;
  align-items: left;
  justify-content: left;
}

.songLevels {
  height: 132.76px;
  width: 300px;
  margin-bottom: 0;
}

#songContainer {
  display: grid; 
  justify-items: center;
  justify-content: center;
  padding-top: 120px;
  grid-template-columns: auto auto auto;
  gap: 45px 70px;
}

.song {
  background: none;
  border: none;
  height: 100px;
}

.songImg {
  width:363.3px;
  height: 125px;
}

#instrumentChoiceTitle {
  position:absolute;
  top: 8%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
}

#instrumentContainer {
  display: grid; 
  justify-items: center;
  justify-content: center;
  padding-top: 100px;
  grid-template-columns: auto auto;
  gap: 220px 70px;
}

.instrument {
  background: none;
  border: none;
  height: 100px;
}

.instrumentImg {
  width:300px;
  height: 293.97px;
}

#pianoPage {
  background-image: url('./components/photos/PianoChordsBG.png');
  background-color: white;
}

.pianoHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#choicesBackBtn  {
  flex-grow: 0;
}

#octaveBtn {
  flex-grow: 0;
  font-size: 15pt;
  margin-top: 0;
}

#pianoNotesTitle {
  flex-grow: 1;
  text-align: center;
}

#chordsBtn {
  flex-grow: 0;
  margin-left: 100px;
}

.instrumentTitle {
  font-size: 33pt;
  color:white;
  margin-top: 5px;
}

.pianoBtns {
  background: #FF9797;
  padding: 10px 10px;
  margin: 15px;
  border-radius: 20px;
  box-shadow: inset 3px 3px 3px 2px #d47d7d;
  font-size: 20pt;
}

.noteContainer {
  display: grid;
  justify-items: center;
  justify-content: center;
  padding-top: 230px;
  grid-template-columns: auto auto auto auto auto auto;
  gap: 20px 50px;
}

.noteBtn {
  font-size: 40pt;
  background: rgba(251, 205, 255, 0.75);
  border: none;
  margin: 5px;
  border-radius: 20px;
  box-shadow: 3px 3px 3px 2px #d47d7d;

  width: 190px;
  height: 90px;
}