@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');

body {
  margin: 0;
  font-family: 'Righteous';
}

.startScreen {
  padding: 50px;
  text-align: center;
  height: 88.3vh;
  background-image: linear-gradient(to bottom right, orange, yellow);
  color: white;
}

.band {
  height: 202.5px;
  width: 300px;
}

.title {
  font-size: xxx-large;
  padding: top 0;
}

.forKids {
  text-shadow: -1px -1px 0 #FFFFFF, 1px -1px 0 #FFFFFF, -1px 1px 0 #FFFFFF, 1px 1px 0 #FFFFFF;
}

.subtitle {
  font-size: xxx-large;
}
