@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');


html, body {
  margin: 0;
  font-family: 'Righteous';
  min-height: 100%;
}

.startScreen {
  padding: 50px;
  text-align: center;
  background-color: #fff;
  background-image: linear-gradient(to bottom right, orange, yellow);
  color: white;
}

.band {
  height: 202.5px;
  width: 300px;
}

.title {
  font-size: xxx-large;
  padding: top 0;
}

.forKids {
  text-shadow: -1px -1px 0 #FFFFFF, 1px -1px 0 #FFFFFF, -1px 1px 0 #FFFFFF, 1px 1px 0 #FFFFFF;
}

.subtitle {
  font-size: xxx-large;
}

.btn {
  background: rgba(255, 236, 188, 0.7);
  color: #fff;
  border: none;
  padding: 20px 40px;
  margin-top: 20px;
  border-radius: 60px;
  box-shadow: 5px 5px 10px 2px rgba(163, 163, 163, 0.6);
  cursor: pointer;
  font-size: 60px;
  font-family: inherit;
}

.vector1 {
  position:absolute;
  left:0;
  top: 0;
  height: auto;
}

.vector2 {
  position:absolute;
  right:0;
  top: 0;
  overflow: hidden;
}